<footer class="site-footer">
  <div class="wrapper">
    <div class="disclaimer">
      Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way.
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {{ site.description }}
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html site=site %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>© Copyright 2016, Vasili Puchko</li>
          <li>Design by Spaghetti</li>
          <li>Proudly hosted by <a href="https://pages.github.com/" target="_blank"><span class="octicon octicon-logo-github" style="color: #828282;
    position: relative;
    top: 4px;
    left: 3px;
    font-size: 20px;"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% include js.html site=site %}