<header class="site-header">
  <div class="wrapper">
    <a id="route" class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          {% unless my_page.exclude_from_nav %}
          <a id="route" class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endunless %}
          {% endif %}
        {% endfor %}
        <a class="page-link" href="{{ site.baseurl }}/feed.xml"> RSS</a>
        <a class="page-link" href="http://github.com/{{ site.github_username }}?tab=repositories"><i class="typico typcn typcn-social-github" ></i> My GitHub</a>
      </div>
    </nav>
  </div>
</header>
