/*
    =================== Base ===================
*/
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
body {
  padding-top: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #647280;
  background-color: #f2f1ed;
}
a {
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
  text-decoration: none;
  outline: 0 none;
  color: #666666;
}
a:visited {
  color: #666666;
}
a:hover,
a:focus {
  color: #333333;
}
.opacity1 {
  opacity: 1;
  filter: alpha(opacity=100);
}
.opacity75 {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
