/*
==================== Feature ===========
*/
#feature {
  background: #262626;
  height: 350px;
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
#feature h1 {
  color: #CCCCCC;
  font-size: 60px;
  font-weight: 100;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 100%;
}
#feature h1 strong {
  font-size: 14px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
