footer, .push-footer {
    clear: both;
    height: 220px;
}

.bottom {
    border-top: 1px solid #fff;
    margin-top: 0;
    //background: #eee;
    //color: #999999;
    padding: 15px 0;

    .bottom-inner {
        position: relative;
    }
}

#toTop {
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    font-size: 18px;
    padding: 5px 10px 8px 10px;
}

.footer {
    border-bottom: 1px solid #DBDAD7;
    border-top: 1px solid #DBDAD7;
    background: #E8E7E3;
    color: #BBBBBB;
    padding: 16px 0 0;

    .footer-inner{
        h6 {
            margin-bottom: 10px;
        }

        a {
            color: #7D7D7D;
            display: block;
        }

        a:hover {
            color: #292929;
            text-decoration: none;
            padding-left: 4px;
        }
    }
}