/*
================== Responsive ======================
*/
@media (max-width: 767px) {
  .main,
  .footer,
  .bottom {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-bar {
    height: auto;
    line-height: normal;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .header-bar-inner {
    padding: 5px 20px;
  }
  .logo {
    float: none;
    height: auto;
  }
  .nav-main {
    float: none;
    margin: 0;
  }
  .nav-main ul li {
    float: none;
    display: block;
  }
  .nav-main ul li a {
    display: block;
    margin-bottom: 0px;
    margin: 10px 0;
    background-color: #e5e5e5;
  }
  .footer #email2 {
    min-height: 26px !important;
    padding: 0;
  }
  #feature {
    display: none !important;
  }
  .caroufredsel_wrapper {
    display: none !important;
  }
  #carousel {
    display: none !important;
  }
  .main {
    margin-bottom: 42px;
    margin-top: 40px;
  }
  #map_canvas {
    display: none !important;
  }
}
