/*
========================= About =======================
*/
#team {
  background-color: #70757b;
  background-image: -moz-linear-gradient(top, #54595d, #99a0a8);
  background-image: -ms-linear-gradient(top, #54595d, #99a0a8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54595d), to(#99a0a8));
  background-image: -webkit-linear-gradient(top, #54595d, #99a0a8);
  background-image: -o-linear-gradient(top, #54595d, #99a0a8);
  background-image: linear-gradient(top, #54595d, #99a0a8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54595d', endColorstr='#99a0a8', GradientType=0);
  background-color: #232323;
  -webkit-background-size: auto 287px;
  -moz-background-size: auto 287px;
  -o-background-size: auto 287px;
  background-size: auto 287px;
  position: relative;
}
#team #profiles {
  display: table;
  margin: 0 auto;
  text-align: center;
  width: auto;
}
#team .profile {
  display: inline-block;
  vertical-align: top;
}
#team .profile .image img {
  width: 100%;
}
#team .profile .info {
  margin-top: 15px;
  padding: 15px 0;
}
#team .profile .info a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
#team .profile .info a:hover {
  color: #eee;
}
#team .profile .title {
  color: #B4B4B4;
  font-size: 12px;
  line-height: 22px;
  margin: 0;
}
#team .profile .name {
  color: #EEEEEE;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
}
#team .profile .bio {
  color: #EEEEEE;
  font-size: 13px;
  line-height: 18px;
  max-width: 240px;
  width: auto;
}
#team-bios {
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
}
#team-bios a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  width: 70px;
}
#team-bios a:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}
