/*
============================= Blog =================
*/
#blog {
  padding: 24px 0;
}
#blog article {
  margin-top: 10px;
  margin-bottom: 60px;
  max-width: 700px;
  position: relative;
}
#blog article .post {
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  color: #333333;
  margin: 0 0 15px;
  overflow: hidden;
}
#blog article .post .text {
  padding: 20px 20px 10px;
}
#blog article .post h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}
#blog article .post h2 a {
  color: #666;
  text-decoration: none;
  outline: 0 none;
}
#blog article .post h2 a:hover {
  color: #333;
}
#blog article .post .meta {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
}
.addthis_toolbox {
  padding: 0 20px 20px;
}
.addthis_toolbox a {
  margin-right: 12px;
  padding: 5px 7px 5px 0;
}
.short-url,
.share,
.categories {
  background: none no-repeat scroll left center #eaeaea;
  border-bottom: 1px solid #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-top: 1px solid #D0D0D0;
  color: #666666;
  float: left;
  font-size: 11px;
  font-weight: 700;
  margin: 0 20px 0 0;
  padding: 4px 15px 4px 35px;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.categories {
  float: right;
  margin-right: 0;
}
.short-url i,
.share i,
.categories i {
  font-size: 13px;
  margin-left: -20px;
  margin-right: 10px;
}
#blog-top {
  margin-bottom: 10px;
}
#blog-top a.dropdown-toggle {
  display: inline-block;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #FFFFFF inset;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  min-width: 130px;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease-in-out 0s;
  -moz-transition: background-color 0.3s ease-in-out 0s;
  -ms-transition: background-color 0.3s ease-in-out 0s;
  -o-transition: background-color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s;
}
#blog-top a.dropdown-toggle:hover {
  background-color: #fff;
}
#blog-top a.dropdown-toggle b {
  margin-left: 18px;
}
#blog-top .dropdown-menu {
  background-clip: padding-box;
  background-color: #333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  float: left;
  left: 0;
  list-style: none outside none;
  margin: 0;
  min-width: 160px;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
#blog-top .dropdown-menu a {
  clear: both;
  color: #ccc;
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 4px 10px;
  white-space: nowrap;
  text-transform: uppercase;
}
#blog-top .dropdown-menu li > a:hover,
#blog-top .dropdown-menu .active > a,
#blog-top .dropdown-menu .active > a:hover {
  background-color: #666;
  color: #fff;
}
#disqus_thread {
  background: #EAEAEA;
  border-bottom: 1px solid #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-top: 1px solid #D0D0D0;
  color: #1A1A1A;
  font-size: 12px;
  margin-top: 10px !important;
  margin-bottom: 35px !important;
  max-width: 660px;
  padding: 20px;
  position: relative;
}
