/*
========================= Contact ===========================
*/
#map_canvas {
  width: 100%;
  height: 400px;
}
.contact textarea {
  height: 200px;
}
.touch li {
  display: block;
}
.touch li a {
  display: block;
  opacity: 0.4;
  text-decoration: none;
  color: #000;
  margin: 3px 0px;
  padding: 0 20px;
  height: 64px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 96% center;
}
.touch li a:hover {
  opacity: 1;
  color: #fff;
  background-color: #05c;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
}
.touch li a h5 {
  padding-top: 13px;
  font-size: 12px;
}
.touch li.flickr a {
  background-image: url(http://localhost/~ono/nuro/assets/less/../img/flickr.png);
}
.touch li.flickr a:hover {
  background-color: #FF0084;
}
.touch li.facebook a {
  background-image: url(http://localhost/~ono/nuro/assets/less/../img/facebook.png);
}
.touch li.facebook a:hover {
  background-color: #3B5998;
}
.touch li.google a {
  background-image: url(http://localhost/~ono/nuro/assets/less/../img/google.png);
}
.touchli li.google a:hover {
  background-color: #2E88C2;
}
.touch li.linkedin a {
  background-image: url(http://localhost/~ono/nuro/assets/less/../img/linkedin.png);
}
.touch li.linkedin a:hover {
  background-color: #006699;
}
.touch li.twitter a {
  background-image: url(http://localhost/~ono/nuro/assets/less/../img/twitter.png);
}
.touch li.twitter a:hover {
  background-color: #0084B4;
}
.touch li.yahoo a {
  background-image: url(http://localhost/~ono/nuro/assets/less/../img/yahoo.png);
}
.touch li.yahoo a:hover {
  background-color: #7B0099;
}
