/*
    ====================== Service ======================
*/
.service-list .circle {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #F2F1ED;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 45px;
  text-align: center;
  width: 45px;
  font-size: 24px;
  color: #808285;
  line-height: 45px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
  float: left;
  margin-right: 20px;
}
.service-list .span4 {
  margin-top: 10px;
  float: left;
}
.service-list h3 {
  border-bottom: 2px solid #D9D8D3;
  margin-bottom: 6px;
}
.service-main {
  background-color: #fff;
}
